[submodule "leetcode"]
	path = leetcode
	url = git@github.com:mubareksd/leetcode.git
[submodule "projecteuler"]
	path = projecteuler
	url = git@github.com:mubareksd/projecteuler.git
[submodule "codeforces"]
	path = codeforces
	url = git@github.com:mubareksd/codeforces.git
[submodule "hackerrank"]
	path = hackerrank
	url = git@github.com:mubareksd/hackerrank.git
[submodule "geeksforgeeks"]
	path = geeksforgeeks
	url = git@github.com:mubareksd/geeksforgeeks.git
